[project]
	description = A Gallery Project based on JHipster and Angular-File-Upload
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kojo Ampia - Addison (jojoaddison)
[access "refs/for/refs/*"]
	read = group user/Kojo Ampia - Addison (jojoaddison)
	push = group user/Kojo Ampia - Addison (jojoaddison)
	label-Code-Review = -2..+2 group user/Kojo Ampia - Addison (jojoaddison)
	label-Verified = -1..+1 group user/Kojo Ampia - Addison (jojoaddison)
	rebase = group user/Kojo Ampia - Addison (jojoaddison)
	removeReviewer = group user/Kojo Ampia - Addison (jojoaddison)
	submit = group user/Kojo Ampia - Addison (jojoaddison)
[access "refs/heads/*"]
	read = group user/Kojo Ampia - Addison (jojoaddison)
	create = group user/Kojo Ampia - Addison (jojoaddison)
	push = +force group user/Kojo Ampia - Addison (jojoaddison)
	pushMerge = group user/Kojo Ampia - Addison (jojoaddison)
[access "refs/tags/*"]
	push = +force group user/Kojo Ampia - Addison (jojoaddison)
	pushTag = group user/Kojo Ampia - Addison (jojoaddison)
	pushSignedTag = group user/Kojo Ampia - Addison (jojoaddison)
